.add {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-grey-200);
  gap: 1rem 0rem;
  padding: 2rem;
  &__form {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 5rem;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: var(--border-round);
    &__input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &__btn {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 4rem;
      background-color: var(--color-blue-400);
      border: none;
      cursor: pointer;
      border-radius: var(--border-btn);
      font-weight: 600;
      color: var(--color-white);
      transition: all 250ms ease;
      &:hover {
        background-color: var(--color-blue-600);
      }
    }
  }
}

.form-inputs {
  padding: 0.5rem;
}
